<div id="footer">
  <a href="https://twitter.com/mattschartman" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>&nbsp;&nbsp;
  <a href="https://www.linkedin.com/in/matt-schartman-671182b6" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a>&nbsp;&nbsp;
  <a href="mailto:mschartman@gmail.com"><i class="fa fa-envelope fa-lg"></i></a>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
