<div class="col-md-8 col-xs-12 col-md-offset-2 col-xs-offset-0 header-container">
  <div class="header">
    <ul class="nav nav-pills pull-right nav-text">
      <li{% if page.url == '/index.html' %} class="active"{% endif %}><a href="/">Home</a></li>
      <li{% if page.url == '/favorites.html' %} class="active"{% endif %}><a href="/favorites.html">Favorites</a></li>
      <li{% if page.url == '/work.html' %} class="active"{% endif %}><a href="/work.html">Work</a></li>
    </ul>
    <h2><a class="logo-title" href="/"><span class="text-muted thin">Matt</span><strong>Schartman</strong></a></h2>
  </div>
</div>

<div class="hero container-fluid" style="background-image: url(/assets/santa_barbara.jpg);"></div>
